@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Archivo Narrow', sans-serif; */
  line-height: 130%;
  transition: all 0.3s ease-in-out;
}

:root {
  --black: #000;
  --white: #fff;
  --borders: 2px solid var(--black);
}
html {
  scroll-behavior: smooth;
}
body {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  font-family: "Archivo Narrow", sans-serif;
  width: 99vw;
  min-height: 100vh;
  padding-left: 4vw !important;
  padding-right: 4vw;
  padding-top: 2vw;

}
html{
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
  background:white;
}

::-webkit-scrollbar-track {
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 1px;

}
button {
  font-family: "Archivo Narrow", sans-serif;
}
input {
  font-family: "Archivo Narrow", sans-serif;
}

i {
  font-size: 24px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
header h3 {
  font-size: 28px;
  font-weight: 600;
}
nav {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
nav a {
  position: relative;
}
nav .subheader::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  transition: all 0.2s ease-in-out;
}
nav .subheader:not(:hover)::before {
  width: 0;
}
nav .subheader:has(:hover, :focus)::before {
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.subheader {
  color: var(--black);
  font-size: 1.125rem;
  font-weight: 400;
  text-decoration: none;
}
header span a {
  border: var(--borders) !important;
  padding: 8px 10px;
  margin-right: 10px;
}
.home__img {
  max-width: 328px;
  width: 90%;
  height: auto;
  border: var(--borders);
  box-shadow: 5px 5px 0 -1px var(--white), 5px 5px 0 1px var(--black);
}
.home__img:hover {
  box-shadow: 5px 5px 0 -1px var(--black), 5px 5px 0 1px var(--black);
}
#home {
  min-height: calc(100vh - 3vw);
  /* border: 1px solid rebeccapurple; */
  position: relative;
  display: grid;
  align-content: space-between;
}
.home__extras {
  align-self: end;
  width: 100%;
  justify-self: end;
  /* border: 1px solid brown; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__div {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1024px;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  gap: 2rem;
  margin-left: 2vw;
}

.home__welcome h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.home__welcome p {
  font-style: italic;
  margin-bottom: 2.2rem;
}
.home__btns {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  column-gap: 5rem;
}
.home__btn {
  font-size: 1.125rem;
  padding: 10px;
  color: var(--white);
  background-color: var(--black);
  border: var(--borders);
  transition: all 0.2s ease-in;
}
.home__btn:hover {
  border-radius: 0;
  box-shadow: 3px 3px 0 -1px var(--white), 3px 3px 0 1px var(--black);
}
.home__btn:last-of-type {
  background-color: inherit;
  color: var(--black);
}

.social__links {
  display: flex;
  /* gap: 2rem; */
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid cornflowerblue; */
  max-width: 300px;
}
.social__links i {
  font-size: 36px;
}
.scrollDown {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 50px;
  right: 10px;
}
.scrollDown span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: var(--black);
}
.scrollDown span i {
  font-size: 36px;
  width: 36px;
  /* aspect-ratio: 1; */
  color: var(--white);
  /* background-color: var(--black); */
  animation: scroll 0.7s ease-in-out;
  animation-iteration-count: 5;
}
@keyframes scroll {
  50% {
    transform: translateY(50%);
  }
  75% {
    transform: translateY(75%);
  }
  100% {
    transform: translateY(100%);
  }
}
#about__me {
  margin-top: 3rem;
}
#about__me h2 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}
#about__me img {
  max-width: 301px;
  width: 90%;
  border: var(--borders);
  box-shadow: 5px 5px 0 -1px var(--white), 5px 5px 0 1px var(--black);
}
#about__me img:hover {
  box-shadow: 5px 5px 0 -1px var(--black), 5px 5px 0 1px var(--black);
}
.about__me__contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 2rem; */
}
.subtitle {
  font-weight: 600;

  font-size: 18px;
  width: fit-content;
  height: 1.8rem;
  position: relative;
}
.skills-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--black);
}
.about__texts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.skills__contents {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.skill {
  width: fit-content;
  font-size: 1rem;
  padding: 5px 10px;
  border: 1px solid var(--black);
  border-radius: 3px;
  cursor: default;
  user-select: none;
}
.skill:hover {
  border-radius: 0;
  box-shadow: 2px 2px 0 -1px var(--white), 2px 2px 0 1px var(--black);
}

.bg__timeline {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.bg__timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: var(--black);
}
.timeline__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding-left: 30px;
  position: relative;
}
.timeline__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 12px;
  height: 12px;
  background-color: var(--black);
  transform: translateX(-45%);
}
.timeline__contents {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.date {
  font-style: italic;
  font-size: 18px;
  font-weight: 700;
}
.bg-btns {
  display: flex;
  gap: 2rem;
  margin-top: 1.8rem;
}
.bg-btn {
  padding: 8px 10px;
  border: var(--borders);
  color: var(--black);
  background-color: var(--white);
  font-size: 18px;
}
.bg-btn:hover {
  box-shadow: 3px 3px 0 -1px var(--white), 3px 3px 0 1px var(--black);
}
#works {
  margin-top: 3rem;
}
#works h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.works__selectors {
  display: flex;
  gap: 1rem;
  font-size: 18px;
  font-weight: 600;
}
.selected {
  position: relative;
}
.selected::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
}
.works__items {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
gap: 2rem;

  justify-content: start;
   align-content: center;
  
  width: 100%;
}
.work__item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-width: 310px;
}
.work__img {
  position: relative;
  width: fit-content;
  max-width: 308px;
}
.work__img img {
  object-fit: cover;
  width: 308px;
  height: 151px;
  max-width: 308px;
  max-height: 151px;
  border: var(--borders);
  position: relative;
  top: 0;
  left: 0;
  scale: 1;
  transition: scale 0.3s;
}
.work__item:hover img {
  scale: 1.04;
}
.work__img .link {
  width: 66px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  position: absolute;
  right: 10px;
  bottom: 0;
  transform: translateY(40%);
}
.work__img .link:hover {
  box-shadow: 3px 3px 0 -1px var(--white), 3px 3px 0 1px var(--black);
}
.work__img .link i {
  font-size: 36px;
  color: var(--white);
}
.work__img .tag {
  color: var(--black);
  font-size: 14px;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(60%);
}
.item__btns {
  display: flex;
  gap: 2rem;
  margin-top: 1em;
}
.item__btns button:hover {
  box-shadow: 3px 3px 0 -1px var(--white), 3px 3px 0 1px var(--black);
}
.item__btns button {
  display: flex;
  padding: 3px 10px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--white);
  border: var(--borders);
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}
.item__btns button i {
  font-size: 16px;
}
#contact__me {
  margin-top: 3rem;
}
.contact__contents {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#contact__me h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact__social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 48%;
  width: 100%;
}
.contact__social .title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.contact__social .texts {
  max-width: 290px;
}
.call__action {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  max-width: 330px;
  color: var(--white);
  background-color: var(--black);
  margin-left: 10%;
}
.call__action:hover {
  box-shadow: 4px 4px 0 -1px var(--white), 4px 4px 0 1px var(--black);
}
.msg__box {
  width: 48%;
  margin-right: 9vw;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}
.box__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.name_email {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.box__item input,
textarea {
  width: 100%;
  padding: 8px 10px;
  outline: none;
  border: var(--borders);
  background-color: var(--white);
  color: var(--black);
}
.box__item input:focus,
textarea:focus {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--white);
  /* box-shadow: 4px 4px 0 -1px var(--white), 4px 4px 0 1px var(--black); */
}
.box__item input:hover,
textarea:hover {
  box-shadow: 4px 4px 0 -1px var(--white), 4px 4px 0 1px var(--black);
}
.send__msg__btn {
  padding: 8px 10px;
  width: fit-content;
  font-size: 18px;
  background-color: var(--black) !important;
  color: var(--white) !important;
}
#footer {
  font-size: 12px;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  gap: 5px;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
